<% content_for :app_controller do %>
  ng-app='app.sellApp' ng-controller='Inventory2Ctrl'
<% end %>

<% content_for :seach_navbar do %>
  <li class="page-scroll" ng-if="inventory_mode == 'list'">
    <%= render 'search_engine' %>
  </li>
<% end %>

<div class="row">
  
  <div class="col-md-12">
    <div class="row">
      
      <!-- Options -->
      <div class="col-md-4">
        <div class="col-md-12 panel_options ">
          <h3>Create a new Product</h3>
          <form role="form" name="product_form">
            <div class="row">
              <!-- Name -->
              <div class="col-md-12 form-group" ng-class="{'has-error': product_form.productName.$invalid, 'has-success': product_form.productName.$valid}">
                <input class="form-control" type="text" placeholder="Name" ng-model="new_product_form.name" required/>
              </div>
              <!-- Price -->
              <div class="col-md-12 form-group" ng-class="{'has-error': product_form.productPrice.$invalid, 'has-success': product_form.productPrice.$valid}">
                <input class="form-control" type="number" placeholder="Price" ng-model="new_product_form.price" min="0" required/>
              </div>
              <!-- Stock amount -->
              <div class="col-md-12 form-group" ng-class="{'has-error': product_form.productStockAmount.$invalid, 'has-success': product_form.productStockAmount.$valid}">
                <input class="form-control" type="number" placeholder="Stock amount" ng-model="new_product_form.stock_amount" ng-change="ValidateStockAmount(new_product_form)" min="0" integer required/>
              </div>
              <!-- Tags -->
              <div class="col-md-12 form-group" ng-class="{'has-error': product_form.productTags.$invalid, 'has-success': product_form.productTags.$valid}">
                <input class="form-control" type="text" placeholder="Tags" ng-model="new_product_form.tags" required/>
              </div>
              <!-- Providers -->
              <div class="col-md-12 form-group" ng-class="{'has-error': product_form.productProviders.$invalid, 'has-success': product_form.productProviders.$valid}">
                <input class="form-control" type="text" placeholder="Providers" ng-model="new_product_form.providers" required/>
              </div>
              <!-- Photo -->
              <div class="col-md-12 form-group" ng-class="{'has-error': product_form.productPhoto.$invalid, 'has-success': product_form.productPhoto.$valid}">
                <input class="form-control" type="file" placeholder="Photo" file-model="new_product_form.photo"/>
              </div> 
            </div>
            <!-- Done -->
            <div class="text-center">
              <div class="btn btn-lg btn-primary col-md-12" ng-disabled="product_form.$invalid" ng-click="CreateProduct()">Done</div>
            </div>
          </form>
        </div>
        <div class="col-md-12 panel_options">
          <!-- Add product to inventory -->
          <div class="text-center">
            <div class="btn btn-lg btn-primary col-md-12" ng-click="AddInventory()">Add article to inventory</div>
          </div>
        </div>
        <div class="col-md-12 panel_options">
          <!-- Create Combo -->
          <div class="text-center">
            <div class="btn btn-lg btn-primary col-md-12" ng-click="CreateCombo()">Create Combo</div>
          </div>
        </div>
        <div class="col-md-12 panel_options">
          <!-- Export List -->
          <div class="text-center">
            <div class="btn btn-lg btn-primary col-md-12" ng-click="ExportList()">Export List</div>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <div class="col-md-8 main_content" ng-if="inventory_mode == 'list'">
        <%= render 'combos_list' %>
        <%= render 'products_list' %>
      </div>
      <div class="col-md-8 main_content" ng-if="inventory_mode == 'product_edit'">
        <%= render 'product_edit' %>
      </div>
      <div class="col-md-8 main_content" ng-if="inventory_mode == 'combo_create'">
        <%= render 'combo_create' %>
      </div>
    </div>
  </div>

</div>