<!DOCTYPE html>
<html>
<head>
  <title>Sell System</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>

  
  <%= csrf_meta_tags %>
</head>
<body <%= yield :app_controller %>>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Sell System Lattke</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <!-- Left options -->
        <ul class="nav navbar-nav">
          <li>
            <a href="/transactions">Transactions</a>
          </li>
          <li>
            <a href="/inventory">Inventory</a>
          </li>
          <li>
            <a href="/clients">Clients</a>
          </li>
          <li>
            <a href="/manager">Manager</a>
          </li>
        </ul>
          
        <!-- Right options -->
        <ul class="nav navbar-nav navbar-right">
          
    <li class="page-scroll">
      <div class="search-engine">
      <div class="row">
        <div class="col-md-12">
          <input id="article-search" name="articles-search" class="form-control" autofocus="autofocus" placeholder="Search products or combos" ng-model="articles_search" ng-change="searchArticles()"/>
        </div>


        <div class="col-md-12">
          <div id="searched_articles">
            
            <div ng-if="articles_founded.products.length > 0 || articles_founded.combos.length > 0">
              <div class="row text-center">
                <div class="col-md-12">
                  1
                </div>
                <div class="col-md-12">
                  2
                </div>
                <div class="col-md-12">
                  3
                </div>
              </div>
            </div>

            <div ng-if="articles_founded.products.length == 0 && articles_founded.combos.length == 0 && articles_search.length != 0">
              <div class="row text-center">
                <div class="col-md-12">
                  no founded
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>



    </li>

          <li class="page-scroll">
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container margen">
    <%= yield %>
  </div>

  <br/>

  <footer class="text-center">
    <div class="footer-below">
      <div class="container">
          <div class="col-lg-12">
            All rights reserved &copy; 2015 - <b><a href="http://tony.lattke.org">Tony Enrique Lattke Urbaneja</a></b>
          </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript -->
  <%= javascript_include_tag "jquery-1.10.2" %>
  <%= javascript_include_tag "bootstrap" %>

</body>
</html>
