<!DOCTYPE html>
<html>
<head>
  <title>Sell System</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag "bootstrap" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <!-- JavaScript -->
  <%= javascript_include_tag "jquery-1.10.2" %>
  <%= javascript_include_tag "bootstrap" %>

</body>
</html>
